# All Templates, BuildConfigs and ImageStreams will be created in this namespace.
# To customize namespace for development, copy this file as .makerc and replace namespace below.
NAMESPACE=openshift

# Default routes' host
PRIVATE_ROUTE_HOSTNAME=apps.private.REGION.DOMAIN

# Default docker repository, can be switched to a mirror
DOCKER_REPOSITORY_HOSTNAME=docker.io

# Specify the repository and ref-spec (i.e. branch) to build the images from.
REPOSITORY_URL=https://github.com/abarcloud/abar-templates.git
REPOSITORY_REF=master
